services:
  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend1
      - backend2
      - backend3
    networks:
      - frontend_net
      - backend_net

  frontend:
    build: ./frontend
    networks:
      - frontend_net

  backend1:
    build: ./backend
    environment:
      - PORT=3001
    networks:
      - backend_net

  backend2:
    build: ./backend
    environment:
      - PORT=3002
    networks:
      - backend_net

  backend3:
    build: ./backend
    environment:
      - PORT=3003
    networks:
      - backend_net

networks:
  frontend_net:
  backend_net:
    #internal: true